h1{
    font-weight: 900;
    font-size: 45px;
    margin: 10px;
    margin-bottom: 20px;
    align-items: center;
}

input{
    width: 100%;
}

.item-container{
    text-align: left;
}

.item-row{
    margin: 10px 5px;
}

.action-button{
    min-width: 80px;
}